* {
  box-sizing:border-box;
}


body {
  margin:100px 10px;
}

.eye {
  width: 200px;
  height: 200px;
  background: rgb(210, 170, 227);
  padding: 100px;
  border: 10px solid black;
/* absolute position puts object on a differnt layer */
  position:absolute;
  top:50px;
  border-radius: 50%;
}

.left {
  left:80px;
}

.right {
  right:80px;
}

.mouth {
  width: 600px;
  height: 50px;
  background:rgb(235, 77, 77);
  border: 10px solid black;
  position: absolute;
  bottom: 80px;
  left:100px;
  border-radius: 50%;
}


.relative {
  background: rgb(241, 234, 78);
  width:800px;
  height:600px;
  position: relative;
  border-radius: 50%;
}

.fixed {
  height:100px;
  width:100px;
  background: rgb(48, 196, 183);
  position: fixed;
  top:50%;
  left:50%;
  z-index:-1;
  transform:translate(-50%, -50%);
}

.spacer {
  height:900px;
  background: rgb(125, 55, 255);
/* z-index puts code on a differnt layer */
  position:relative;
  z-index:-2;
}

.sticky {
  width:400px;
  height:200px;
  background:rgb(204, 95, 217);
  position: sticky;
  top:0;
}

p {
  width:400px;
/* elements will act with either height/width/padding/margin */
    /* display:inline-block;
    margin-right:50px; */
  margin: 50px auto;
}
