body {
  background-color: #e7b2b5;
  background-image: url("flowers.gif");
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

h1 {
  color:white;
  font-family: 'Architects Daughter', sans-serif;
  font-size: 75px;
  text-align: center;
  line-height: 200%;
  margin: 5px;
}

p {
  text-align: center;
  position: static;
  font-family: 'Architects Daughter', sans-serif;
  font-size: 20px;
  color: white;

}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
  color: white;
}


a:hover {
  color: #e7b2b5;
}

/* CLASS */
.back {
  text-align: center;
  width:100px;
  background: #e98e94;
  position: fixed;
  border-radius: 25px;
  top: 3%;
  left:7%;
  z-index:2;
  transform:translate(-50%, -50%);
}

.banner {
  height:60px;
  width:600px;
  background: #e98e94;
  position: fixed;
  border-radius: 25px;
  bottom: 20px;
  left:50%;
  z-index:2;
  transform:translate(-50%, -50%);
}

.first{
  left: 70px;
  position: fixed;
  z-index:5;
}

.second {
  left: 167px;
  position: fixed;
  z-index:5;
}

.third {
  left: 300px;
  position: fixed;
  z-index:5;
}

.fourth {
  left: 450px;
  position: fixed;
  z-index:5;
}
