* {
  box-sizing:border-box;
}

body {
  margin:0;
  font-family: 'Syne Mono', monospace;
}

.back {
  text-align: center;
  width:100px;
  background:rgb(48, 49, 54);
  position: fixed;
  border-radius: 25px;
  top: 3%;
  left:7%;
  z-index:2;
  transform:translate(-50%, -50%);
}

.main {
  height:100vh;
  width:100%;
  display:flex;
  background-color: rgb(48, 49, 54);
  align-items:center;
  justify-content: space-around;

}

.bubble {
  width:30vw;
  height:30vw;
  background-color: rgb(236, 234, 222);
  border-radius: 50%;
  align-items: center;
  padding: 30px;
  display: flex;
  margin: 0;
}

.banner-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width:100%;
  flex-direction: column;
  align-items: center;
}

.bubble-items {
  color: rgb(93, 93, 98);
  width:50%;
  align-items:center;
  text-align: center;

}

a:link {
  text-decoration: none;
  color:rgb(93, 93, 98);
}

a:visited {
  text-decoration: none;
  color: rgb(93, 93, 98);
}

a:active {
  text-decoration: none;
  color: rgb(93, 93, 98);
}


a:hover {
  color: rgb(119, 161, 218);
}
