* {
  box-sizing:border-box;
}

body {
  margin:0;
  background-color: #21123e;
}

.flex {
  height:100vh;
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
}

.door {
  width:100%;
  height:63%;
  display:flex;
  z-index: 3;
  position: fixed;
  top:0px;
  left:0px;
}

.mail {
  width:100%;
  height:60%;
  display:flex;
  z-index: 4;
  position: fixed;
  top:0px;
  left:32%;
}

.portrait {
  width:100%;
  height:60%;
  display:flex;
  z-index: 5;
  position: fixed;
  top:0px;
  right:-53%;
}
