* {
  box-sizing:border-box;
}

body {
  margin:0;
  background-color: #21123e;
}

.flex {
  width:100%;
  height:100vh;
  display:flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.base{
  display: flex;
  width:100%;
  height:100%;
  z-index: -1;
  position: absolute;
  align-self: center;
}

.door {
  width:100%;
  height:60%;
  display:flex;
  z-index: 3;
  position: absolute;
  top:0px;
  left:0px;
}

.mail {
  width:100%;
  height:60%;
  display:flex;
  z-index: 4;
  position: absolute;
  top:0px;
  left:50px;
}

.portrait {
  width:100%;
  height:60%;
  display:flex;
  z-index: 5;
  position: absolute;
  top:0px;
  right:50px;
}
