* {
  box-sizing:border-box;
}

body {
  margin:0;
  background-color: rgb(69, 40, 106);
  font-size: 22px;
}

.special {
  color: rgb(128, 91, 233);
  font-style: italic;
  cursor:pointer;
}

.secret {
  position:absolute;
  width:400px;
  top:100px;
  left:300px;
  display:none;
}

/* when we hover over span:special we applying it to secret class */
.special:hover .secret{
  display:block;
}

.circle {
  background-color: rgb(87, 222, 235);
  width:120px;
  height:120px;
  border-radius:50%;
  position: absolute;
  bottom:200px;
  right:200px;
  transition: .5s ease, border-radius .5s .2s ease, background .5s ease;
}


.circle:hover {
  border-radius:0;
  transform:scale(2.5) rotate(360deg);
  background: rgb(226, 218, 33);
}
