/* EDITS FOR THE HTML TYPES */
/* ------------------------------------ */
body {
  background-color: #F5F5DC;
}

p {
  background-color: #F5F5DC;
  border-radius: 15px;
  padding: 20px;
  margin: 50px;
  font-size: 20px;
  text-align: center;
  font-family: verdana, sans-serif;
  line-height: 200%
}

h1 {
  font-size: 100px;
  text-align: center;
  font-family: verdana, sans-serif;
  line-height: 200%
}

h2 {
  font-size: 60px;
  text-align: center;
  font-family: verdana, sans-serif;
}

mark {
  background-color: #bfd6b6;
  border-radius: 3px;
  padding: 3px;
}

a {
  color: black;
}

a:hover {
  color: green;
}

ol {
  background-color: #F5F5DC;
  border-radius: 25px;
  padding: 20px;
  margin: 50px;
  font-size: 20px;
  text-align: center;
  list-style-position: inside;
  font-family: verdana, sans-serif;
  line-height: 200%
}

ul {
  background-color: #F5F5DC;
  border-radius: 25px;
  padding: 20px;
  margin: 50px;
  font-size: 20px;
  text-align: center;
  list-style-position: inside;
  font-family: verdana, sans-serif;
  line-height: 200%
}

figcaption {
  color: green;
  border-radius: 15px;
  padding: 20px;
  font-size: 17px;
  text-align: center;
  font-family: verdana, sans-serif;
  line-height: 200%
}

/* EDITS FOR THE CLASSES */
/* -------------------------------------------------------- */
.banner {
  background-image:"images/breaker.png";
    background-repeat:repeat-x;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 300px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.p1 {
  background-color: #a4cc95;
}
